<ion-view view-title="Workshops All">
 <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
 <ion-content>  
<table class="responsive">
      <thead>
        <tr>
          <th scope="col">Workshop</th>
          <th scope="col">Institution</th>
          <th scope="col">Certificate</th>
          <th scope="col">Credit Hours</th>
          <th scope="col">Missing Hours</th>
          <th scope="col">Status</th>
        </tr>
    </thead>
      <tbody ng-repeat="workshop in workshops">
        <tr>
              <td data-table-header="Workshop">{{workshop.workshops_name}}</td>
              <td data-table-header="Institution">{{workshop.vendors_name}}</td>
              <td data-table-header="Certificate"><button style=""  ng-click="upload(workshop.workshops_id)" class="button button-small button-calm">Upload Certificate</button></td>
              <td data-table-header="Credit Hours" >{{workshop.workshops_hours}}</td>
              <td data-table-header="Missing Hours" >{{workshop.rules_hours}}</td>
             <td data-table-header="Status" >Pending</td>
     </tr>
    
      </tbody>
</table>
 </ion-content>
</ion-view>
