<ion-view view-title="Workshops Completed">
 <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
 <ion-content>  
<table class="responsive">
      <thead>
        <tr>
          <th scope="col">Workshop</th>
          <th scope="col">Institution</th>
          <th scope="col">Certificate</th>
          <th scope="col">Credit Hours</th>
          <th scope="col">Missing Hours</th>
          <th scope="col">Status</th>
        </tr>
    </thead>
      <tbody ng-repeat="workshop in workshops">
        <tr>
              <td data-table-header="Workshop">{{workshop.workshop_name}}</td>
              <td data-table-header="Institution">{{workshop.vendor_name}}</td>
              <td data-table-header="Credit Hours" >{{workshop.workshop_hours}}</td>
              <td data-table-header="Certificate"><a  ng-click="optionSelected(workshop.path)" class="button button-small button-calm">view</a> </td>
             
        </tr>
    
      </tbody>
</table>
 </ion-content>
</ion-view>
