
<ion-view view-title="Staff Training Compliance" >
<ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
<button class="button button-icon ion-more" ng-click="openPopover($event)">
        </button> 
</ion-nav-buttons>
  </ion-nav-bar>
    <ion-content>  
        <div class="row">
            
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/quizzes">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/quiz.PNG" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h4 style="color:#28a54c;white-space: normal;">QUIZ</h4>
                        </div>
                    </div>
                </a>
            </div>
               <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/workshops">
                    <div class="card">
                        <div class="item item-image">
                            <img src="img/workshop.PNG" height="150" width="150">                        
                        </div>
                        <div class="item text-center">
                            <h4 style="color:#28a54c;white-space: normal;">WORKSHOP</h4>
                        </div>
                    </div> 
                </a>
            </div> 
        </div>    
        <div class="row">
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/reports">
                    <div class="card">
                        <div class="item item-image">
                            <img src="img/report.PNG" height="150" width="150">                        
                        </div>
                        <div class="item text-center">
                            <h4 style="color:#28a54c;white-space: normal;">REPORT</h4>
                        </div>
                    </div> 
                </a>
            </div> 
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/settings">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/settings.PNG" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h4 style="color:#28a54c;white-space: normal;">SETTINGS</h4>
                        </div>
                    </div>
                </a>
            </div>                        
        </div>        
    </ion-content>
</ion-view>
