
<ion-view view-title="Reports" >
<ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
</ion-nav-buttons>
  </ion-nav-bar>
    <ion-content>  
        <div class="row">
            
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/reports/per_year">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/quiz.PNG" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h4 style="color:#28a54c;white-space: normal;">PER YEAR</h4>
                        </div>
                    </div>
                </a>
            </div> 
        </div>            
    </ion-content>
</ion-view>
