.service('employeeService', function() {
  this.employeeData = {};

  this.employee = function() {
    return this.employeeData;
  };

  this.setId = function(id) {
    this.employeeData.id = id;
  };

  this.getId = function() {
    return this.employeeData.id;
  };

  this.setDaycareId = function(daycare_id) {
    this.employeeData.daycare_id = daycare_id;
  };

  this.getDaycareId = function() {
    return this.employeeData.daycare_id;
  };

  this.setUserId = function(user_id) {
    this.employeeData.user_id = user_id;
  };

  this.getUserId = function() {
    return this.employeeData.user_id;
  };

  this.setName = function(name) {
    this.employeeData.name = name;
  };

  this.getname = function() {
    return this.employeeData.name;
  };

  this.setPhone = function(phone) {
    this.employeeData.phone = phone;
  };

  this.getPhone = function() {
    return this.employeeData.phone;
  };

  this.setStatus = function(status) {
    this.employeeData.status = status;
  };

  this.getStatus = function() {
    return this.employeeData.status;
  };

  this.setAddress = function(address) {
    this.employeeData.address = address;
  };

  this.getAddress = function() {
    return this.employeeData.address;
  };

  this.setBirthdate = function(birthdate) {
    this.employeeData.birthdate = birthdate;
  };

  this.getBirthdate = function() {
    return this.employeeData.birthdate;
  };

   this.setGender = function(gender) {
    this.employeeData.gender = gender;
  };

  this.getGender = function() {
    return this.employeeData.gender;
  };
  
   this.setProfilePicutre = function(profile_picture) {
    this.employeeData.profile_picture = profile_picture;
  };

  this.getProfilePicutre = function() {
    return this.employeeData.profile_picture;
  };

    this.setJob = function(job) {
    this.employeeData.job = job;
  };

  this.getJob = function() {
    return this.employeeData.job;
  };

   this.setTypeEmployeeId = function(type_employee_id) {
    this.employeeData.type_employee_id = type_employee_id;
  };

  this.getTypeEmployeeId = function() {
    return this.employeeData.type_employee_id;
  };

   this.setDateOfResponsability = function(date_of_responsability) {
    this.employeeData.date_of_responsability = date_of_responsability;
  };

  this.getDateOfResponsability = function() {
    return this.employeeData.date_of_responsability;
  };

   this.setDateOfHired = function(date_of_hired) {
    this.employeeData.date_of_hired = date_of_hired;
  };

  this.getDateOfHired = function() {
    return this.employeeData.date_of_hired;
  };

  




 

})