
<ion-view view-title="Workshops" >
<ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    <ion-content>  
        <div class="row"> 
            <div class="col col-50">
                 <a style="text-decoration:none !important;" class="" href="#/app/workshops/all">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/all.PNG" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h4 style="color:#28a54c;white-space: normal;">ALL</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/workshops/completed">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/complete.PNG" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h4 style="color:#28a54c;white-space: normal;">COMPLETED</h4>
                        </div>
                    </div>
                </a>
            </div>      
        </div>    
    </ion-content>
</ion-view>
